/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

h1,h2,h3,h4,h5,p{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

